body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size:16px;
	margin-bottom: 10px;
	color:#252525;
}

h1 {
	font-family:"CharterITCStd-Bold",'Palatino Bold',serif;
}

.header {
	font-family:"CharterITCStd-Bold",'Palatino Bold',serif;
	border-bottom: 2px solid #EC0101;
}

.return a{
	color:#c0cbd2;
}

.tagline {
	margin-bottom: 30px;
	font-size: 24px;
}

.section {
	font-size: 36px;
	font-family:"CharterITCStd-Bold",'Palatino Bold',serif;
	color:#000000;
}

.precincts {
	font-size: 14px;
	font-style: italic;
	color: #848687;
}

.race-holder {
	margin-bottom:1em;
}

.race {
	font-size: 16px;
	margin-bottom: 20px;
}

.race img {
	width:150px;
	margin-top: 10px;
}

.race-small img {
	width:150px;
	padding: 10px;
}

.race-small-desc {
	padding:18px 10px 10px 10px;
}

.title {
	width:100%;
	font-family:"CharterITCStd-Bold",'Palatino Bold',serif;
	color: #000000;
	font-size: 24px;
	border-bottom: 2px solid #FF0000;
}

.title a {
	color:#fff;
}

.title a:hover {
	color:#c0cbd2;
}

.fa {
	font-size: 12px;
}

.new {
	margin-bottom: 10px;
}

.footer {
	background-color: #fff;
	padding-bottom:2em;
}

.vote_bar {
	height:16px;
	background-color: #72A2A9;
	padding:0px;
}

.vote_bar_container {
	background-color: #F5F5F5;
	padding:0;
	line-height: 16px;
}

.result {
	margin-bottom: 5px;
}
.race .row {
	margin: 0 0px 10px -15px;
}

.race .row.party {
	background: #f5f5f5;
    border: 1px solid #e5e5e5;
    color: #86898e;
    font-family: "Source Sans Pro",sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    margin: 0 0 10px 0px;
    padding: 5px;
    text-transform: uppercase;
}

.table-header {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 12px;
}

header {
  background-color:#333;
  color:#fff;
  padding:1em 2.5% 0.5em;
  position:absolute;
  top:0px; left:0px;
  width:100%;
}

@media (max-width: 768px) {
  header {
    position:relative;
  }
}

@media (min-width: 768px) {
  body {
      padding-top:51px;
      -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
      -moz-box-sizing: border-box;    /* Firefox, other Gecko */
      box-sizing: border-box;         /* Opera/IE 8+ */
  }
  h1 {
  	font-size: 48px;
  }
  p {
	font-size: 16px;
}
}