body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size:14px;
	margin-bottom: 10px;
	color:#252525;
}

body.single {
	padding-top: 0;
}

h1 {
	/*font-family:"CharterITCStd-Bold",'Palatino Bold',serif;*/
	font-family: 'Source Sans Pro', sans-serif;
}

.header {
	/*font-family:"CharterITCStd-Bold",'Palatino Bold',serif;*/
	font-family: 'Source Sans Pro', sans-serif;
	/*border-bottom: 2px solid #EC0101;*/
}

.return a{
	color:#c0cbd2;
}

.tagline {
	margin-bottom: 30px;
	font-size: 24px;
}

.office {
	margin-bottom: 1.5em; 
}

.section {
	font-size: 2em;
	/*font-family:"CharterITCStd-Bold",'Palatino Bold',serif;*/
	font-family: 'Source Sans Pro', sans-serif;
	color:#000000;
	border-bottom: 2px solid #EC0101;
	padding-left: 0;
}

.precincts {
	font-size: 12px;
	font-style: italic;
	color: #848687;
}

.row {
	margin: 0;
}

.race-holder {
	margin-bottom:1em;
}

.race {
	font-size: 14px;
	margin-bottom: 20px;
}

.race img {
	width:150px;
	margin-top: 10px;
}

.race-small img {
	width:150px;
	padding: 10px;
}

.race-small-desc {
	padding:18px 10px 10px 10px;
}

.title {
	width:100%;
	/*font-family:"CharterITCStd-Bold",'Palatino Bold',serif;*/
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 700;
	color: #000000;
	font-size: 1em;
	margin-top:1em;
	padding-left: 0;

/*	background: #f5f5f5;
    border: 1px solid #e5e5e5;
    color: #86898e;*/
	/*border-bottom: 2px solid #FF0000;*/
}

.R {
	color:#EC0101;
}

.D {
	color:#0971B2;
}

.G {
	color:#009F2D;
}

.I,.L {
	color:#F9B816;
}

.title a {
	color:#fff;
}

.title a:hover {
	color:#c0cbd2;
	padding-left: 0px;
}

.fa {
	font-size: 12px;
}

.new {
	margin-bottom: 10px;
}

.footer {
	background-color: #fff;
	padding-bottom:2em;
}

.vote_total {
	text-align: right;
	padding-right: 0;
}

.vote_bar {
	height:10px;
	background-color: #72A2A9;
	padding:0px;
	border-radius: 10px;
}

.vote_bar_container {
	background-color: #F5F5F5;
	padding:0;
	line-height: 10px;
	border-radius: 10px;
}

.result {
	margin-bottom: 5px;
	border-bottom: 1px solid #C5C5C5;
	font-size: 16px;
}

.result.winner {
	font-weight: 700;
}
.race .row {
	margin: 0 0px 10px 0px;
}

.race .row.party {
	background: #f5f5f5;
    border: 1px solid #e5e5e5;
    color: #86898e;
    font-family: "Source Sans Pro",sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    margin: 0 0 10px 0px;
    padding: 5px;
    text-transform: uppercase;
}

.candidate {
	padding:0;
}

.description {
	font-style: italic;	
	padding:10px 0;
}

.table-header {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 12px;
}

.btn-primary {
	background-color:#f5f5f5;
	border-color:#e5e5e5;
	border-radius: 25px;
	color:#86898e;
	font-family: "Source Sans Pro", sans-serif;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
	background-color:#72A2A9;
	border-color:#e5e5e5;
}

a.return {
	font-size: 12px;
	padding: 2px 6px;
	border-radius: 15px;
}

header {
  background-color:#333;
  color:#fff;
  padding:1em 2.5% 0.5em;
  position:absolute;
  top:0px; left:0px;
  width:100%;
}

.affix {
	top:0;
	left:0;
	background-color: #fff;
	width: 100%;
	z-index: 99;
	padding: 5px 25px;
	border-bottom: 2px solid #EC0101;
}

@media (max-width: 768px) {
  header {
    position:relative;
  }
}

@media (min-width: 768px) {
  body {
      padding-top:51px;
      -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
      -moz-box-sizing: border-box;    /* Firefox, other Gecko */
      box-sizing: border-box;         /* Opera/IE 8+ */
  }
  h1 {
  	font-size: 48px;
  }
  p {
	font-size: 16px;
}
}