<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Pick Office
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
  {{#each races}}
    <li><a class="" href="#{{race_number}}">{{office_name}}</a></li>
  {{/each}}
  </ul>
  <small> <i class="fa fa-info-circle"></i> = incumbent</small> | <i class="fa fa-check"></i> = winner
</div>